corpo {
    cor: branco;
    fundo: preto;
   }
   
   cabeçalho {
    borda inferior: RGB sólido de 2px (42, 122, 228);
    preenchimento: 20px;
    tamanho da fonte: 32px;
    Cor: RGB (42, 122, 228);